.button {
  border:none;
  padding: .5em 2em;
  margin: 20px auto;
  border-radius: 5px;
  /* width: 150px; */
}

.btn-blk {
  color: white;
  background:rgb(38, 102, 9) !important;

}

.btn-blk:hover {
  color: white;
}

.btn-wht {
  border: 1px solid white;
  color: white;
}

.btn-wht:hover {
  background: white;
  color: black;
}
